{% extends 'layout_cert.html' %}
{%block title%} CERTIFICADO INSPECCIÓN DE HORQUILLAS{%endblock%}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/base.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>
<body>
  <center><h2>INSPECCIÓN DE HORQUILLAS</h2></center>
  <hr>
  <form class="row g-3 needs-validation" novalidate>
    {% for cat in data %}
    <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>CERTIFICADO INSPECCIÓN Nº (Inspection): {{ cat.2 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>SOLICITADO POR (Required by): {{ cat.9 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>FECHA DE INSPECCIÓN (Inspection date): {{ cat.4 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>LUGAR DE INSPECCIÓN (Inspection place): {{ cat.7 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>INSPECTOR RESPONSABLE (Inspector): {{ cat.8 }}</h4>
  </div>
  {% endfor %}
  </form>
  <div class="col-md-10">
    <h3>DESCRIPCIÓN DE ACCESORIOS INSPECCIONADOS</h3>
    <div class="panel panel-default">
      <table class="table table-bordered">
        <tr>
          <th>MARCA</th>
          <th>IDENTIFICACIÓN</th>
          <th>MEDIDAS</th>
          <th>CAPACIDAD</th>
        </tr>
        {% for cat in datafr %}
        <tr>
              <td>{{cat.32}}</td>
              <td>{{cat.33}}</td>
              <td>{{cat.36}}</td>
              <td>{{cat.35}}</td>
        </tr>
      
        <tr>
          <td>{{cat.37}}</td>
          <td>{{cat.38}}</td>
          <td>{{cat.41}}</td>
          <td>{{cat.40}}</td>
        </tr>
        {% endfor %}
      </table>
      
  </div>
</div>

<h2>RESULTADOS DE INSPECCIÓN</h2>

<p>De acuerdo a los resultados obtenidos y que se adjunta en el reporte, quien firma, certifica que en la fecha de esta inspección, las horquillas arriba descritas, fueron sometidas a una prueba de ensayo no destructivo de Inspección Visual; según ASME Sección V Artículo 9 (2019) y Líquidos Penetrantes; según ASME Sección V Artículo 6 (2019) y ASTM E165/E165M-18  y la evaluación de conformidad de los elementos fueron realizados bajo los criterios del estándar  ANSI/ITSDF B56.6 (2016) Norma de seguridad para carretillas elevadoras todoterreno, ANSI/ITSDF B56.1a (2018) Norma de seguridad para montacargas de baja y alta elevación,  para la emisión del presente CERTIFICADO  con RESULTADO APROBADO.</p>

<p>Los accesorios  fueron  preparados  e  inspeccionados,  de  acuerdo con los requerimientos  del procedimiento aplicado  PR-INSP-006 Inspección visual y PR-INSP-007 Líquidos penetrantes. </p>

<p>Este certificado hace referencia a las condiciones que presentan los accesorios al momento de la inspección, sin ninguna obligación o responsabilidad posterior</p>
<br>
<hr>


<form class="row g-3 needs-validation" novalidate>
  {% for cat in data %}
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de emisión del certificado (Certificate issue date): {{ cat.5 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de vencimiento del Certificado (Proof load due date): {{ cat.6 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de próxima de inspección (Next inspection date): {{ cat.6 }}</h4>
  </div>
  {% endfor %}
</form> 

<br>
<hr>

<center>
  <h2>
    NOMBRE
  </h2>
</center>

<center>
  <h2>
    GERENTE TECNICO ENII SA
  </h2>
</center>

</body>
</html>

{% endblock %}
