<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="C:\Ricardo\paginas_web\u30\aplicacion\static\css\style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body background="C:\Ricardo\paginas_web\u30\aplicacion\static\img\logo2020.png">

  
  <div>
        <img src="C:\Ricardo\paginas_web\u30\aplicacion\static\img\ca_cert.png">
      </div>
     
  </div>
  <form class="row g-3 needs-validation" novalidate>
    {% for cat in data %}
    <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>CERTIFICADO INSPECCIÓN Nº (Inspection): {{ cat.2 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>SOLICITADO POR (Required by): {{ cat.9 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>FECHA DE INSPECCIÓN (Inspection date): {{ cat.4 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>LUGAR DE INSPECCIÓN (Inspection place): {{ cat.7 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>INSPECTOR RESPONSABLE (Inspector): {{ cat.8 }}</h4>
  </div>
  {% endfor %}
  </form>
  <hr>

  <div class="col-md-10">
    <h3>DESCRIPCIÓN DE ACCESORIOS INSPECCIONADOS</h3>
    <div class="panel panel-default">
      <table class="table table-bordered">
        <tr>
          <th>N°</th>
          <th>CODIGOS ENII</th>
          <th>REFERENCIAS</th>
          <th>MEDIDAS</th>
          <th>CAPACIDAD</th>
        </tr>
        {% for cat in datafr %}
        <tr>
            <td>{{cat.0}}</td>
            <td>{{cat.2}}</td>
            <td>{{cat.1}}</td>
            <td>{{cat.3}}</td>
            <td>{{cat.4}}</td>

         </tr>
        {% endfor %}
       
      </table>
      
  </div>
</div>

<h2>RESULTADOS DE INSPECCIÓN</h2>

<p>De acuerdo a los resultados obtenidos y que se adjunta en el reporte, quien firma, certifica que en la fecha de esta inspección, los accesorios arriba descritos, fueron sometidos a una prueba de ensayo no destructivo de Inspección Visual; según ASME Sección V Artículo 9 (2019) y Líquidos Penetrantes; según ASME Sección V Artículo 6 (2019) y ASTM E165/E165M-18  y la evaluación de conformidad de los elementos fueron realizados bajo los criterios del estándar  ASME B30.26 (2015) Aparejos, ASME B30.10 (2019) Ganchos,  para la emisión del presente CERTIFICADO  con RESULTADO APROBADO.</p>

<p>Los accesorios  fueron  preparados  e  inspeccionados,  de  acuerdo con los requerimientos  del procedimiento aplicado  PR-INSP-006 Inspección visual y PR-INSP-007 Líquidos penetrantes.</p>

<p>Este certificado hace referencia a las condiciones que presentan los accesorios al momento de la inspección, sin ninguna obligación o responsabilidad posterior</p>
<br>
<hr>


<form class="row g-3 needs-validation" novalidate>
  {% for cat in data %}
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de emisión del certificado (Certificate issue date): {{ cat.5 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de vencimiento del Certificado (Proof load due date): {{ cat.6 }}</h4>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h4>Fecha de próxima de inspección (Next inspection date): {{ cat.6 }}</h4>
  </div>
  {% endfor %}
</form> 

<br>
<hr>

<center>
  <h2>
    NOMBRE
  </h2>
</center>

<center>
  <h2>
    GERENTE TECNICO ENII SA
  </h2>
</center>

</body>
<footer>
  <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
    <a href="{{ url_for('resum_frttr')}}" class="btn btn-primary">VOLVER</a>

    <a href="{{ url_for('genera_pdffrttr')}}" class="btn btn-primary">PDF</a>
  </div>

</footer>
</html>

