{% extends 'layout_cert.html' %}
{%block title%} CERTIFICADO_GM {%endblock%}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/base.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>
<body>
  <center><h5> INSPECCIÓN DE GRÚAS MÓVILES Y GRÚAS LOCOMOTORAS</h5></center>
  <center><h5>(CERTIFICATE OF INSPECTION MOBILES AND LOCOMOTIVE CRANES)</h5></center>
  <hr>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Fecha de Inspección:</th>
        <th>Lugar de Inspección:</th>
        <th>Código Interno:</th>
        <th>Inspector Responsable:</th>
      </tr>
    </thead>
    <tbody>
       {% for cat in for_eni %}
        <tr>
            <td>{{cat.4}}</td>
            <td>{{cat.7}}</td>
            <td>{{cat.2}}</td>
            <td>{{cat.8}}</td>
         </tr>
        {% endfor %}
  </tbody>
  </table>
  </div>
  <hr>
  <form class="row g-3 needs-validation" >
  
  <h4>DATOS DESCRIPTIVOS</h4>
  
  
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    {% for cat in for_eni %}
    <h6>CERTIFICADO INSPECCIÓN Nº(Inspecction ): {{ cat.2 }}</h6>
    {% endfor %}
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    {% for cat in for_eni %}
    <h6>SOLICITADO POR (Required by): {{ cat.9 }}</h6>
    {% endfor %}
  </div>
  

 
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    {% for cat in datos_equipo %}
    <h6>EQUIPO (Name of loose gear): {{ cat.3 }}</h6>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    <h6>CAPACIDAD DE LEVANTE MAX.: {{ cat.5 }}</h6>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    <h6>MODELO (Model): {{ cat.4 }}</h6>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    <h6>MARCA (Brand): {{ cat.1 }}</h6>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    <h6>FECHA DE FABRICACIÓN (Built date): {{ cat.7 }}</h6>
  </div>
  <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
    <h6>Nro. DE SERIE (Serial Nr.): {{ cat.2 }}</h6>
  </div>
  {% endfor %}
</form>
<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">Procedimiento</h7>
    
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">Instrumento de Comprobación </h7>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
     
      <div class="col" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Código</h7>
      </div>
      <div class="col" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Equipo</h7>
      </div>
      <div class="col" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Fecha Calibración</h7>
      </div>
  
    </div>


  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">Prueba carga según cuadro de trabajo</h7>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
     
      <div class="col-6" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Configuración</h7>
      </div>
      <div class="col-3" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Datos</h7>
      </div>
      <div class="col-3" style="background: #3e5786;">
        <h7 style="color:#ce9a9a">Unidad</h7>
      </div>
  
    </div>

  </div>






</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

  <div class="col">
    <h7 > 1.- PR-INSP-001 Inspección Técnica de Grúas móviles y 
      Grúas Locomotoras</h7>
  </div>


  <div class="col">
    <table class="table table-bordered">
      <tr>
      </tr>
      {% for cat in equipos_ins %}
      <tr>
          <td>{{cat.0}}</td>
          <td>{{cat.1}}</td>
          <td>{{cat.2}}</td>
          
      </tr>
      {% endfor %}
  </table>
  </div>

  <div class="col">

    <table class="table table-bordered">
      {% for cat in cap_tra %}
      <tr>

          <td>Capacidad Max.</td>
          <td>{{cat.5}}</td>
          <td>Kg.</td>

      </tr>
      <tr>

        <td>Carga de Prueba</td>
        <td>{{cat.7}}</td>
        <td>Kg.</td>

      </tr>
      <tr>

        <td>Radio</td>
        <td>{{cat.6}}</td>
        <td>m</td>

    </tr>
      <tr>

        <td>Longitud</td>
        <td>{{cat.4}}</td>
        <td>m</td>

      </tr>
      <tr>

        <td>Angulo</td>
        <td>{{cat.6}}</td>
        <td>°</td>

      </tr>
      {% endfor %}
  </table>

  </div>


</div>



<center><h4>ENII S.A. certifica que en la fecha de esta inspección el equipo arriba descrito, fue sometido a una prueba de carga segura y visualmente inspeccionado conforme al estándar: B30.5 (2018).</h4></center>
<center><h4>ENII S.A. certifies that on the date of this inspection the equipment described above was subjected to a load test that was safe and visually inspected in accordance with the ASME B30.5 standard: 2018 (Mobile and Locomotive Cranes).</h4></center>
<center><h3>RESULTADOS DE INSPECCIÓN</h3></center>
<center>
  <h4>
    De acuerdo a los procedimientos, instructivos, y reporte de inspección FR-INSP-003, el EQUIPO se encuentra dentro de los rangos normales de operación.
  </h4>
</center>
<h6>RESULTADO:								CONFORME                            EL EQUIPO SE ENCUENTRA EN CONDICIONES OPERATIVAS </h6>
<form class="row g-3 needs-validation" novalidate>
  {% for cat in for_eni %}
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h6>Fecha de emisión del certificado (Certificate issue date): {{ cat.0 }}</h6>
  </div>
  <br>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h6>Fecha de vencimiento del Certificado (Proof load due date): {{ cat.0 }}</h6>
  </div>
  <br>
  <div class="form-group col-xs-12 col-sm-12 col-md-12  position-relative">
    <h6>Fecha de próxima de inspección (Next inspection date): {{ cat.0 }}</h6>
  </div>
  {% endfor %}
</form> 

<center>
  <h4>
    GERENTE TÉCNICO ENII SA
  </h4>
</center>

<center>
  <h2>
    ENII S.A - TÉRMINOS & CONDICIONES
  </h2>
</center>

<center>
  <h4>
    Grúas Móviles y Grúas Locomotoras
  </h4>
</center>

<p>
  General 																																																																																										
Las pruebas, exámenes e inspecciones están basadas en el estándar ASME B30.5:2018 (Grúas ferroviarias y móviles), sección 5-2.2.1 (pruebas operacionales), sección 5-2.2.2 (pruebas de carga), dichas normas están diseñadas para asegurar que en los lugares donde existan grúas para izar cargas sean inicialmente  inspeccionados , probadas y certificadas durante su vida útil por una entidad competente e independiente del fabricante y/o proveedor de repuestos con el fin de establecer que ellas continúen trabajando de manera segura, en maniobras de levante de cargas, cuidando del medio ambiente y principalmente resguardando la integridad física del personal involucrado en maniobras de carga, descarga y/o mantención.																																																																																										

</p>

<p>
  Instrucciones 																																																																																										
																																																																																										
1.- Examen inicial e inspección. 																																																																																										
																																																																																										
Cada grúa debe estar certificada por una entidad competente independiente antes de ser puesta en funcionamiento por primera vez, para asegurar que posee un buen diseño de construcción y una resistencia adecuada a su propósito. 																																																																																										

</p>

<p>
  2.- Periodicidad de las inspecciones visuales y pruebas con cargas. 																																																																																										
																																																																																										
a.Las Grúas Móviles y Locomotoras deben ser cuidadosamente examinadas visualmente (operational test) una vez cada doce (12) meses por una entidad competente  independiente (Organismo de Inspección),que no tenga relación alguna con el diseño, la fabricación, el suministro, la instalación, la compra, la posesión, la utilización o el mantenimiento del equipo inspeccionado, manteniendo los principios de imparcialidad, independencia y confidencialidad que se establece en la Norma ISO 17020, para Organismos de Inspección tipo A.																																																																																										
b.ASME B30.5:2018 (Mobile and Locomotive Cranes), sección 5-2.2.1 (operational test), sección 5-2-2-1 (rated load test). La periodicidad de las pruebas con cargas a la grúa estará sujeta a: 																																																																																										
																																																																																										
- Una alteración, mejora o renovación importante. 																																																																																										
- Reparación por algún siniestro en que se haya visto involucrado. 																																																																																										
																																																																																										
Como regla general se inspeccionara el equipo al menos una (1) vez cada  año. Sin embargo, primara para la elección de la periodicidad la frecuencia de uso, desgaste, ambiente de trabajo, cargas críticas levantadas, tiempo sin funcionar y antigüedad de los equipos. ENII S.A en base a su experiencia y criterio se reserva el derecho a indicar la periodicidad de las pruebas. 																																																																																										
																																																																																										
El tratamiento con calor de cualquier dispositivo de levante o equipo accesorio para manipular cargas debe ser sometido a una inspección visual y pruebas de carga  a satisfacción de la entidad de inspección debiendo llevar un registro de tal situación. 																																																																																										
																																																																																										
c.Los equipos de levante  deberán ser probados con una carga de prueba no menor al 100 % ni mayor al mismo de la carga segura de trabajo (SWL) señalada por el fabricante, en la altura, alcance de brazo  que lo permita el cuadro de cargas. Se deberá considerar el cuadrante de operación 360º  según el fabricante para la elección correcta y segura de la carga de prueba a aplicar. 																																																																																										
																																																																																										
																																																																																										
3.-Una tonelada métrica (t) equivale a 1000 kg y una tonelada americana (Ust) equivale a 907 kg. 																																																																																										
																																																																																										
4.- Límite de responsabilidad de ENII SA																																																																																										
																																																																																										
Los resultados contenidos en este certificado hacen referencia a las condiciones del equipo y momento en que se realizó la inspección y no representa obligación o responsabilidad alguna posterior a la fecha de inspección.																																																																																										

</p>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">OK</button>
        </div>
     
</body>
</html>

{% endblock %}
