{% extends 'layout.html' %}
{%block title%} CHECK LIST J {%endblock%}
{% block content %}
<head>
  <script>
     // Esperar a que la página termine de cargarse
  document.addEventListener('DOMContentLoaded', function () {
    // Adjunte el detector de eventos `change` al checkbox
    document.getElementById('billing-checkbox').onchange = toggleBilling;
  }, false);
  
  function toggleBilling() {
    // Seleccione los campos de texto de facturación
    var billingItems = document.querySelectorAll('#billing input[type="text"]');
    

    // Alternar los campos de texto de facturación
    for (var i = 0; i < billingItems.length; i++) {
      billingItems[i].disabled = !billingItems[i].disabled;
    }
    
  }
  </script>
   <script type="text/javascript">
    function activar(){
    var x=document.getElementById("mySelect2");
    x.disabled=false
    }
   function desactivar(){
       var x=document.getElementById("mySelect2");
        x.disabled=true
   }</script>
</head>
<body>
 

  <hr>
  <h3>INSPECCIÓN MECÁNICA Y ESTRUCTURAL</h3>
        
        <h3>I. PLUMA TELESCÓPICA, CELOSÍA</h3>
    
       <br>   
    
      <form class="row g-3 needs-validation" novalidate method="POST">  
        <div>
          <label for="billing_is_shipping">Todo Satisfactorio:</label>
          <input type="checkbox" value="6" name="micheck" id="billing-checkbox" checked>
             <label for="validationTooltip01" class="form-label"></label>
         </div> 
        
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
          <h7>1.- Condición de tramos</h7>  
          {{ form.check1.label }} {{ form.check1(class_="form-control") }}
          {% for error in form.check1.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <h7>2. Bases</h7>
          {{ form.check2.label }} {{ form.check2(class_="form-control") }}
          {% for error in form.check2.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>	
        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <h7>3. Soldadura</h7>
        {{ form.check3.label }} {{ form.check3(class_="form-control") }}
        {% for error in form.check3.errors %}
            <span style="color: red;"> {{ error }} </span>
        {% endfor %}
        </div>
     
        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
      <h7>4. Alineación</h7>
          {{ form.check4.label }} {{ form.check4(class_="form-control") }}
          {% for error in form.check4.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <h7>5. Condición de Poleas</h7>
          {{ form.check5.label }} {{ form.check5(class_="form-control") }}
          {% for error in form.check5.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>	
        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <h7>6. Condición de Pasadores</h7>
        {{ form.check6.label }} {{ form.check6(class_="form-control") }}
        {% for error in form.check6.errors %}
            <span style="color: red;"> {{ error }} </span>
        {% endfor %}
        </div>
      
        <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
          {{ form.checkobs.label }} {{ form.checkobs(class_="form-control") }}
          {% for error in form.checkobs.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        
     
   <hr>
    <div class="col-12">
      {{ form.hidden_tag() }}
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </form>
</body>


</html>
{% endblock %}