{% extends 'layout_for.html' %}
{%block title%} FORMULARIO FR-INSP-047.03{%endblock%}
{% block content %}

<body>
    <hr>
    <h1>Reporte Inspección Eslinga Faja Sintética </h1>
    <P>REFERENCIA NORMATIVA: ASME B30.9 (2018) Eslingas (Los números a indicar pertenecen a la norma en mención)
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTORREFERENCIA NORMATIVA: ASME B30.9 (2018) Eslingas (Los números a
        indicar pertenecen a la norma en mención)
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</P>
    <h2>PARÁMETROS DE LA INSPECCIÓN DEL EXAMEN VISUAL (VT)</h2>
    <h3>DATOS DEL END (VT)</h3>
    <form class="row g-3 needs-validation" novalidate method="POST">
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.proc.label }} {{ form.proc(class_="form-control") }}
            {% for error in form.proc.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis.label }} {{ form.revis(class_="form-control") }}
            {% for error in form.revis.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il.label }} {{ form.nivel_il(class_="form-control") }}
            {% for error in form.nivel_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.con_sup.label }} {{ form.con_sup(class_="form-control") }}
            {% for error in form.con_sup.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.met_insp.label }} {{ form.met_insp(class_="form-control") }}
            {% for error in form.met_insp.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il.label }} {{ form.tipo_il(class_="form-control") }}
            {% for error in form.tipo_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h2>EQUIPAMIENTO PARA LA TÉCNICA INDIRECTA</h2>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check1.label }} {{ form.check1(class_="form-control") }}
            {% for error in form.check1.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check2.label }} {{ form.check2(class_="form-control") }}
            {% for error in form.check2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check3.label }} {{ form.check3(class_="form-control") }}
            {% for error in form.check3.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.detalle.label }} {{ form.detalle(class_="form-control") }}
            {% for error in form.detalle.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>

        <hr>
        <center>
            <h1>DESCRIPCIÓN DEL EQUIPO AL QUE PERTENECEN LOS ACCESORIOS</h1>
        </center>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.equipo.label }} {{ form.equipo(class_="form-control") }}
            {% for error in form.equipo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.modelo.label }} {{ form.modelo(class_="form-control") }}
            {% for error in form.modelo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.iden.label }} {{ form.iden(class_="form-control") }}
            {% for error in form.iden.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <center>
            <h1>CRITERIOS DE ACEPTACIÓN Y RECHAZO </h1>
        </center>
        <center>
            <h1>ASME B30.9 (2018) Eslingas</h1>
        </center>
        <div class="container">
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
                    <p>1 Identificación ilegible o faltante</p>
                    <p>2 Quemaduras acidas o causticas</p>
                    <p>3 Carbonización de cualquier parte de la eslinga</p>
                    <p>4 Agujeros, rasgaduras , cortes o enganches</p>
                    <p>5 Costuras rotas o desgastadas en empalmes de carga</p>
                    <p>6 Desgaste abrasivo excesivo</p>
                    <p>7 Nudos en cualquier parte de la eslinga</p>
                    <p>8 Decoloración áreas frágiles o rígidas en cualquier parte</p>
                    <p>9 Derretimiento o carbonización cualquier parte</p>
                    <p>10 Daños visibles que causen duda</p>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
                    <p>1.- LONGITUD ÚTIL DE LA ESLINGA</p>
                    <p>2.- CÓDIGO DE TRAZABILIDAD</p>
                    <p>3.- COEFICIENTE DE SEGURIDAD</p>
                    <p>4.- CAPACIDAD MÁXIMA DE TRABAJO</p>
                    <p>5.- CARGA MÁXIMA SEGÚN FORMA DE TRABAJO</p>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
                    <img src="/static/img/047-1.jpg">
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
            <p>A.- EMPALME DE SOPORTE DE CARGA</p>
            <p>B.- LONGITUD DE OJAL</p>
            <p>C.- CUERPO</p>
            <p>D.- LONGITUD</p>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            <img src="/static/img/047-2.jpg">
        </div>



        <center>
            <h1>DESCRIPCIÓN DE LA INSPECCIÓN</h1>
        </center>

        <h3>ESPECIFICACIONES DEL ACCESORIO RESULTADOS DE INSPECCIÓN</h3>
        <div class="form-group col-xs-12 col-sm-12 col-md-1  position-relative">
            {{ form.num.label }} {{ form.num(class_="form-control") }}
            {% for error in form.num.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.cod_enii.label }} {{ form.cod_enii(class_="form-control") }}
            {% for error in form.cod_enii.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.ref.label }} {{ form.ref(class_="form-control") }}
            {% for error in form.ref.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.tipo.label }} {{ form.tipo(class_="form-control") }}
            {% for error in form.tipo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.medidas.label }} {{ form.medidas(class_="form-control") }}
            {% for error in form.medidas.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.capac.label }} {{ form.capac(class_="form-control") }}
            {% for error in form.capac.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.vt.label }} {{ form.vt(class_="form-control") }}
            {% for error in form.vt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>


        <div class="col-12">
            {{ form.hidden_tag() }}
            {{ form.submit(class_="btn btn-primary") }}
        </div>

        <hr>


    </form>
</body>

</html>
{% endblock %}