{% extends 'layout_for.html' %}
{%block title%} FORMULARIO FR-INSP-041.04 {%endblock%}
{% block content %}

<body>


    <form action="{{url_for('add_freca1')}}" method="POST" class="row g-3 needs-validation">
        <center>
            <h1>DESCRIPCIÓN DE LA INSPECCIÓN</h1>
        </center>
        <h3>ESPECIFICACIONES DEL ACCESORIO Y RESULTADOS DE INSPECCIÓN</h3>
      
        
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.ref.label }} {{ form.ref(class_="form-control") }}
            {% for error in form.ref.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.tipo_ter.label }} {{ form.tipo_ter(class_="form-control") }}
            {% for error in form.tipo_ter.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.medidas.label }} {{ form.medidas(class_="form-control") }}
            {% for error in form.medidas.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.capac.label }} {{ form.capac(class_="form-control") }}
            {% for error in form.capac.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.dia_elin.label }} {{ form.dia_elin(class_="form-control") }}
            {% for error in form.dia_elin.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.med_aces.label }} {{ form.med_aces(class_="form-control") }}
            {% for error in form.med_aces.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.vt.label }} {{ form.vt(class_="form-control") }}
            {% for error in form.vt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.pt.label }} {{ form.pt(class_="form-control") }}
            {% for error in form.pt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <hr>
       <div>
        {{ form.hidden_tag() }}
        {{ form.submit(class_="btn btn-primary") }}

        </div>



    </form>
    <div class="list-group">
        <table class="table table-bordered">
            <tr>
                <th>Nº</th>
                <th>CÓDIGO ENII</th>
                <th>REFERENCIA</th>
                <th>TIPO DE TERMINAL</th>
                <th>MEDIDAS (mm)</th>
                <th>CAPACIDAD (Kg)</th>
                <th>DIAMETRO ESLINGA (mm)</th>
                <th>MEDIDA DEL ACCESORIO (mm)</th>
                <th>INSPECCIÓN VISUAL(VT)</th>
                <th>LÍQUIDOS PENETRANTES(PT)</th>
                <th>EDITAR</th>
            </tr>
            {% for cat in data %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{cat.2}}</td>
                <td>{{cat.1}}</td>
                <td>{{cat.3}}</td>
                <td>{{cat.4}}</td>
                <td>{{cat.5}}</td>
                <td>{{cat.6}}</td>
                <td>{{cat.7}}</td>
                <td>{{cat.8}}</td>
                <td>{{cat.9}}</td>
                <td>
                    <a href="/edit_freca1/{{cat.0}}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-12">
     
        <a href="{{ url_for('resum_freca') }}" class="btn btn-dark btn-sm rounded-0">Fin</a>
    </div>
</body>

</html>
{% endblock %}