{% extends 'layout_for.html' %}
{%block title%} FORMULARIO FR-INSP-051.03{%endblock%}
{% block content %}

<body>
    <hr>
    <h1>Reporte Inspección Grilletes</h1>
    <P>REFERENCIA NORMATIVA: ASME B30.9 (2018) Eslingas ASME B30.10 (2019) Ganchos (Los números a indicar pertenecen a
        la norma en mención), MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</P>
    <h2>PARÁMETROS DE LA INSPECCIÓN DEL EXAMEN VISUAL (VT)</h2>
    <h3>DATOS DEL END (VT)</h3>
    <form class="row g-3 needs-validation" novalidate method="POST">
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-006
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis.label }} {{ form.revis(class_="form-control") }}
            {% for error in form.revis.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il.label }} {{ form.nivel_il(class_="form-control") }}
            {% for error in form.nivel_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.con_sup.label }} {{ form.con_sup(class_="form-control") }}
            {% for error in form.con_sup.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.met_insp.label }} {{ form.met_insp(class_="form-control") }}
            {% for error in form.met_insp.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il.label }} {{ form.tipo_il(class_="form-control") }}
            {% for error in form.tipo_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h2>EQUIPAMIENTO PARA LA TÉCNICA INDIRECTA</h2>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check1.label }} {{ form.check1(class_="form-control") }}
            {% for error in form.check1.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check2.label }} {{ form.check2(class_="form-control") }}
            {% for error in form.check2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check3.label }} {{ form.check3(class_="form-control") }}
            {% for error in form.check3.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.detalle.label }} {{ form.detalle(class_="form-control") }}
            {% for error in form.detalle.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h2>PARÁMETROS INSPECCIÓN MEDIANTE LÍQUIDOS PENETRANTES (PT)</h2>
        <h3>DATOS DEL END (PT)</h3>

        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.elem_en.label }} {{ form.elem_en(class_="form-control") }}
            {% for error in form.elem_en.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-007
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis_p.label }} {{ form.revis_p(class_="form-control") }}
            {% for error in form.revis_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.temp_ens.label }} {{ form.temp_ens(class_="form-control") }}
            {% for error in form.temp_ens.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il_p.label }} {{ form.tipo_il_p(class_="form-control") }}
            {% for error in form.tipo_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il_p.label }} {{ form.nivel_il_p(class_="form-control") }}
            {% for error in form.nivel_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.mater_base.label }} {{ form.mater_base(class_="form-control") }}
            {% for error in form.mater_base.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_sec.label }} {{ form.tipo_sec(class_="form-control") }}
            {% for error in form.tipo_sec.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h3>CONSUMIBLES</h3>
        <h1>1.- PENETRANTE</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIPO DE PENETRANTE: II VISIBLE
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek  VP-31A
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 5 minutos
        </div>
        <h1>2.- REMOVEDOR </h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MÉTODO DE REMOCIÓN: REMOVIBLE SOLVENTE
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek   E-59A
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 10 minutos
        </div>
        <h1>3.- REVELADOR</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            FORMA DE REVELADO: SOLVENTE REMOVED
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek   D-70
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 10 minutos
        </div>

        <hr>
        <center>
            <h1>DESCRIPCIÓN DEL EQUIPO AL QUE PERTENECEN LOS ACCESORIOS</h1>
        </center>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.equipo.label }} {{ form.equipo(class_="form-control") }}
            {% for error in form.equipo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.modelo.label }} {{ form.modelo(class_="form-control") }}
            {% for error in form.modelo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.iden.label }} {{ form.iden(class_="form-control") }}
            {% for error in form.iden.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <center>
            <h1>CRITERIOS DE ACEPTACIÓN Y RECHAZO </h1>
        </center>
        <center>
            <h1>ASME B30.26 (2015) Aparejos</h1>
        </center>
        <div class="container">
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                    <img src="/static/img/051-1.jpg">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                    <img src="/static/img/051-2.jpg">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                    <p>1 Identificación faltante o ilegible</p>
                    <p>2 Daños por calor, salpicaduras soldadura, golpes</p>
                    <p>3 Picaduras o corrosión excesivas</p>
                    <p>4 Componentes doblados, torcidos, estirados</p>
                    <p>5 Componentes alargados, agrietados o rotos</p>
                    <p>6 Mellas o ranuras excesivas</p>
                    <p>7 Reducción + del 10% en cualquier punto cuerpo</p>
                    <p>8 Enganche de pin incompleto</p>
                    <p>9 Daño excesivo hilos de rosca</p>
                    <p>10 Modificaciones, soldaduras no autorizadas</p>

                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
                    <p>A.- DIÁMETRO</p>
                    <p>B.- PASADOR</p>
                    <p>C.- PUNTOS DE RESISTENCIA</p>
                    <p>D.- ENTRADA</p>
                    <p>E.- OREJA</p>
                    <p>F.- CUERPO</p>
                </div>
            </div>

        </div>
      

        <div class="col-12">
            {{ form.hidden_tag() }}
            {{ form.submit(class_="btn btn-primary") }}
        </div>

        <hr>


    </form>
</body>

</html>
{% endblock %}