{% extends 'layout_for.html' %}
{%block title%} FORMULARIO FR-INSP-053.04 {%endblock%}
{% block content %}

<body>
    <hr>
    <h1>Reporte Inspeccion King Pin</h1>
    <P>REFERENCIA NORMATIVA: SAE J2228 (2011) (Los números a indicar pertenecen a la norma en mención)
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</P>
    <h2>PARÁMETROS DE LA INSPECCIÓN DEL EXAMEN VISUAL (VT)</h2>
    <h3>DATOS DEL END (VT)</h3>
    <form class="row g-3 needs-validation" novalidate method="POST">
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-006
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis.label }} {{ form.revis(class_="form-control") }}
            {% for error in form.revis.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il.label }} {{ form.nivel_il(class_="form-control") }}
            {% for error in form.nivel_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.con_sup.label }} {{ form.con_sup(class_="form-control") }}
            {% for error in form.con_sup.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.met_insp.label }} {{ form.met_insp(class_="form-control") }}
            {% for error in form.met_insp.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il.label }} {{ form.tipo_il(class_="form-control") }}
            {% for error in form.tipo_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h2>EQUIPAMIENTO PARA LA TÉCNICA INDIRECTA</h2>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check1.label }} {{ form.check1(class_="form-control") }}
            {% for error in form.check1.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check2.label }} {{ form.check2(class_="form-control") }}
            {% for error in form.check2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check3.label }} {{ form.check3(class_="form-control") }}
            {% for error in form.check3.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.detalle.label }} {{ form.detalle(class_="form-control") }}
            {% for error in form.detalle.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h2>PARÁMETROS INSPECCIÓN MEDIANTE LÍQUIDOS PENETRANTES (PT)</h2>
        <h3>DATOS DEL END (PT)</h3>

        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.elem_en.label }} {{ form.elem_en(class_="form-control") }}
            {% for error in form.elem_en.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-007
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis_p.label }} {{ form.revis_p(class_="form-control") }}
            {% for error in form.revis_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.temp_ens.label }} {{ form.temp_ens(class_="form-control") }}
            {% for error in form.temp_ens.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il_p.label }} {{ form.tipo_il_p(class_="form-control") }}
            {% for error in form.tipo_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il_p.label }} {{ form.nivel_il_p(class_="form-control") }}
            {% for error in form.nivel_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.mater_base.label }} {{ form.mater_base(class_="form-control") }}
            {% for error in form.mater_base.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_sec.label }} {{ form.tipo_sec(class_="form-control") }}
            {% for error in form.tipo_sec.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h3>CONSUMIBLES</h3>
        <h1>1.- PENETRANTE</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_pen.label }} {{ form.tipo_pen(class_="form-control") }}
            {% for error in form.tipo_pen.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca_kit.label }} {{ form.marca_kit(class_="form-control") }}
            {% for error in form.marca_kit.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tiem_pen.label }} {{ form.tiem_pen(class_="form-control") }}
            {% for error in form.tiem_pen.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h1>2.- REMOVEDOR </h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.met_rem.label }} {{ form.met_rem(class_="form-control") }}
            {% for error in form.met_rem.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca_kit1.label }} {{ form.marca_kit1(class_="form-control") }}
            {% for error in form.marca_kit1.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tiem_sec.label }} {{ form.tiem_sec(class_="form-control") }}
            {% for error in form.tiem_sec.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h1>3.- REVELADOR</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.for_rev.label }} {{ form.for_rev(class_="form-control") }}
            {% for error in form.for_rev.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca_kit2.label }} {{ form.marca_kit2(class_="form-control") }}
            {% for error in form.marca_kit2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tiem_rev.label }} {{ form.tiem_rev(class_="form-control") }}
            {% for error in form.tiem_rev.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <hr>
        <center>
            <h1>DESCRIPCIÓN DEL EQUIPO EN LA QUE SE ENCUENTRA INSTALADO KING PIN</h1>
        </center>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.equipo.label }} {{ form.equipo(class_="form-control") }}
            {% for error in form.equipo.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca.label }} {{ form.marca(class_="form-control") }}
            {% for error in form.marca.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.iden.label }} {{ form.iden(class_="form-control") }}
            {% for error in form.iden.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <center>
            <h1>DATOS DEL KING PIN</h1>
        </center>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca_pk.label }} {{ form.marca_pk(class_="form-control") }}
            {% for error in form.marca_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.iden_pk.label }} {{ form.iden_pk(class_="form-control") }}
            {% for error in form.iden_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.modelo_pk.label }} {{ form.modelo_pk(class_="form-control") }}
            {% for error in form.modelo_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.capac_pk.label }} {{ form.capac_pk(class_="form-control") }}
            {% for error in form.capac_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <hr>
        <center>
            <h1>CRITERIOS DE ACEPTACIÓN Y RECHAZO </h1>
        </center>
        <center>
            <h1>SAE J2228 (2011)</h1>
        </center>
        <div class="container">
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                    <p>1 Angulos (90 grados +- 1 grado)</p>
                    <p>2 Rebabas, muescas > 1,5 mm no deben exceder 10 unidades en diámetro</p>
                    <p>3 Rebaba, mella, gubia</p>
                    <p>4 Rebabas muescas no deben ser mayores a 6,4 mm de longitud</p>
                    <p>5 No presenta golpes ni deformaciones</p>
                    <p>6 No presenta fisuras ni fracturas</p>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                        <img src="/static/img/053-1.jpg">
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
                    <img src="/static/img/053-2.jpg">
                </div>

            </div>

        </div>
        <center>
            <h1>DESCRIPCIÓN DE LA INSPECCIÓN</h1>
        </center>

        <h3>INSPECCIÓN DIMENSIONAL Y RESULTADOS DE INSPECCIÓN</h3>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.dia_sup.label }} {{ form.dia_sup(class_="form-control") }}
            {% for error in form.dia_sup.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.dia_cen.label }} {{ form.dia_cen(class_="form-control") }}
            {% for error in form.dia_cen.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.dia_inf.label }} {{ form.dia_inf(class_="form-control") }}
            {% for error in form.dia_inf.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.obs.label }} {{ form.obs(class_="form-control") }}
            {% for error in form.obs.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>


        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.vt.label }} {{ form.vt(class_="form-control") }}
            {% for error in form.vt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.pt.label }} {{ form.pt(class_="form-control") }}
            {% for error in form.pt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="col-12">
            {{ form.hidden_tag() }}
            {{ form.submit(class_="btn btn-primary") }}
        </div>

        <hr>


    </form>
</body>

</html>
{% endblock %}