{% extends 'layout_for.html' %}
{%block title%} FORMULARIO FR-INSP-057.04 {%endblock%}
{% block content %}

<body>
    <hr>
    <h1>Reporte Inspeccion Sistemas de Elevación de Personal</h1>
    <P>REFERENCIA NORMATIVA: ASME B30.23 (2016) Sistema de izamiento de personal, AWS D1.1. (2020) Código de soldadura estructural - Acero,
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</P>
    <h2>PARÁMETROS DE LA INSPECCIÓN DEL EXAMEN VISUAL (VT)</h2>
    <h3>DATOS DEL END (VT)</h3>
    <form class="row g-3 needs-validation" novalidate method="POST">
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-006
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis.label }} {{ form.revis(class_="form-control") }}
            {% for error in form.revis.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il.label }} {{ form.nivel_il(class_="form-control") }}
            {% for error in form.nivel_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.con_sup.label }} {{ form.con_sup(class_="form-control") }}
            {% for error in form.con_sup.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.met_insp.label }} {{ form.met_insp(class_="form-control") }}
            {% for error in form.met_insp.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il.label }} {{ form.tipo_il(class_="form-control") }}
            {% for error in form.tipo_il.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <h2>EQUIPAMIENTO PARA LA TÉCNICA INDIRECTA</h2>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check1.label }} {{ form.check1(class_="form-control") }}
            {% for error in form.check1.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check2.label }} {{ form.check2(class_="form-control") }}
            {% for error in form.check2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.check3.label }} {{ form.check3(class_="form-control") }}
            {% for error in form.check3.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.detalle.label }} {{ form.detalle(class_="form-control") }}
            {% for error in form.detalle.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h2>PARÁMETROS INSPECCIÓN MEDIANTE LÍQUIDOS PENETRANTES (PT)</h2>
        <h3>DATOS DEL END (PT)</h3>

        <hr>

        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            PROCEDIMIENTO Nº: PR-INSP-007
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.revis_p.label }} {{ form.revis_p(class_="form-control") }}
            {% for error in form.revis_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.temp_ens.label }} {{ form.temp_ens(class_="form-control") }}
            {% for error in form.temp_ens.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_il_p.label }} {{ form.tipo_il_p(class_="form-control") }}
            {% for error in form.tipo_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.nivel_il_p.label }} {{ form.nivel_il_p(class_="form-control") }}
            {% for error in form.nivel_il_p.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.mater_base.label }} {{ form.mater_base(class_="form-control") }}
            {% for error in form.mater_base.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.tipo_sec.label }} {{ form.tipo_sec(class_="form-control") }}
            {% for error in form.tipo_sec.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <hr>
        <h3>CONSUMIBLES</h3>
        <h1>1.- PENETRANTE</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIPO DE PENETRANTE: II VISIBLE
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek  VP-31A
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 5 minutos
        </div>
        <h1>2.- REMOVEDOR </h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MÉTODO DE REMOCIÓN: REMOVIBLE SOLVENTE
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek   E-59A
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 10 minutos
        </div>
        <h1>3.- REVELADOR</h1>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            FORMA DE REVELADO: SOLVENTE REMOVED
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            MARCA KIT DE INSPECCIÓN: Met-L-Chek   D-70
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            TIEMPO DE PENETRACIÓN: 10 minutos
        </div>

        <hr>
        <center>
            <h1>DESCRIPCIÓN DE CANASTA</h1>
        </center>

        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.marca_pk.label }} {{ form.marca_pk(class_="form-control") }}
            {% for error in form.marca_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.iden_pk.label }} {{ form.iden_pk(class_="form-control") }}
            {% for error in form.iden_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.modelo_pk.label }} {{ form.modelo_pk(class_="form-control") }}
            {% for error in form.modelo_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.capac_pk.label }} {{ form.capac_pk(class_="form-control") }}
            {% for error in form.capac_pk.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <hr>
        <center>
            <h1>CRITERIOS DE ACEPTACIÓN Y RECHAZO </h1>
        </center>

        <div class="container">
            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
                    <h3>ASME B30.23 (2016)</h3>
                    <h3>Sistemas de Izamiento de Personal </h3>
                    <p>1 Placa de plataforma , especificaciones</p>
                    <p>2 Canastillo o plataforma de personal</p>
                    <p>3 Componentes</p>
                    <p>4 Sujetadores</p>
                    <p>5 Implementos de seguridad anclajes y fijaciones</p>
                    <p>6 Soldaduras</p>
                    <p>7 Desgaste de surcos de lubricación</p>
                    <p>8 Componentes o aparejos de izajes</p>
                    <h3>AWS D1.1. (2020)</h3>
                    <h3>Código de Soldadura Estructural - Acero</h3>
                    <p>1 Prohibición de Grietas</p>
                    <p>2 Fusión del metal base</p>
                    <p>3 Cráter de Sección Transversal</p>
                    <p>4 Perfiles de la Soldadura</p>
                    <p>5 Subdimensión de Soldadura</p>
                    <p>6 Mordeduras</p>
                    <p>7 Porosidad</p>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
                    <p>1: Puntos de izaje</p>
                    <p>2: Puntos anclaje arnés</p>
                    <p>3: Base de canasta </p>
                    <p>4: Estructura</p>
                    <p>5: Puerta de acceso</p>
                    <p>6: Capacidad</p>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
                    <img src="/static/img/057-1.jpg">
                </div>

            </div>

        </div>
        <center>
            <h1>DESCRIPCIÓN DE LA INSPECCIÓN</h1>
        </center>

        <h3>INSPECCIÓN DIMENSIONAL Y RESULTADOS DE INSPECCIÓN</h3>


        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.vt.label }} {{ form.vt(class_="form-control") }}
            {% for error in form.vt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
            {{ form.pt.label }} {{ form.pt(class_="form-control") }}
            {% for error in form.pt.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
            {{ form.obs.label }} {{ form.obs(class_="form-control") }}
            {% for error in form.obs.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </div>

        <div class="col-12">
            {{ form.hidden_tag() }}
            {{ form.submit(class_="btn btn-primary") }}
        </div>

        <hr>


    </form>
</body>

</html>
{% endblock %}