{% extends 'layout.html' %}
{%block title%} PRUEBA DE CARGA FR-INPS-009.02 {%endblock%}
{% block content %}
<body>
    <hr>
    <P>
        DOCUMENTOS DE REFERENCIA:  ASME B30.5 (2018), ASME B30.9 (2018), ASME B30.10 (2019)																																					
        "CONDICIÓN:     S: Satisfactorio;     DG: Defecto Grave
                    MANUAL DEL FABRICANTE"	
    </P>
    <center><h1>PRUEBA DE CARGA</h1></center>
    <center><h2>PRUEBA DE ENSAYO ESTÁTICO</h2></center>
    
    <hr>
    <form class="row g-3 needs-validation" novalidate method="POST"> 
      {{ form.csrf_token }}
        <h2>COMPROBACIÓN DE ESTABILIZADORES</h2>													
        <h3>UNIDAD/MEDIDA</h3>
        <div class="form-group col-xs-12 col-sm-12 col-md-2  position-relative">
          
          {{ form.long.label }} {{ form.long(class_="form-control") }}
          {% for error in form.long.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <hr>
        <h4>Tiempo 5 minutos</h4>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.carga.label }} {{ form.carga(class_="form-control") }}
          {% for error in form.carga.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB1.label }} {{ form.ESTAB1(class_="form-control") }}
          {% for error in form.ESTAB1.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB2.label }} {{ form.ESTAB2(class_="form-control") }}
          {% for error in form.ESTAB2.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB3.label }} {{ form.ESTAB3(class_="form-control") }}
          {% for error in form.ESTAB3.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB4.label }} {{ form.ESTAB4(class_="form-control") }}
          {% for error in form.ESTAB4.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <hr>
        <h4>Tiempo 10 minutos</h4>
        
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.carga.label }} {{ form.carga(class_="form-control") }}
          {% for error in form.carga.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB1.label }} {{ form.ESTAB1(class_="form-control") }}
          {% for error in form.ESTAB1.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB2.label }} {{ form.ESTAB2(class_="form-control") }}
          {% for error in form.ESTAB2.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB3.label }} {{ form.ESTAB3(class_="form-control") }}
          {% for error in form.ESTAB3.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB4.label }} {{ form.ESTAB4(class_="form-control") }}
          {% for error in form.ESTAB4.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        
        <hr>
        <h4>Tiempo 15 minutos</h4>
        
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.carga.label }} {{ form.carga(class_="form-control") }}
          {% for error in form.carga.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB1.label }} {{ form.ESTAB1(class_="form-control") }}
          {% for error in form.ESTAB1.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB2.label }} {{ form.ESTAB2(class_="form-control") }}
          {% for error in form.ESTAB2.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB3.label }} {{ form.ESTAB3(class_="form-control") }}
          {% for error in form.ESTAB3.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          {{ form.ESTAB4.label }} {{ form.ESTAB4(class_="form-control") }}
          {% for error in form.ESTAB4.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>
        <hr>
        <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
          <h6>EVALUACIÓN DEL ENSAYO</h6>
          {{ form.conforme.label }} {{ form.conforme(class_="form-control") }}
          {% for error in form.conforme.errors %}
              <span style="color: red;"> {{ error }} </span>
          {% endfor %}
        </div>

        <hr>
        <p>El ensayo con carga suspendida se ha llevado acabo por un lapso comprendido entre 5 y 15 minutos. La carga se encuentra configurada en posición según tabla de cargas , teniendo en cuenta el peso de la carga en servicio y el peso del dispositivo de sujeción de esta y las fijaciones de los mecanismos de maniobra.</p>
        
        <div class="col-12">
          {{ form.hidden_tag() }}
          {{ form.submit(class_="btn btn-primary") }}
        </div>

    </form>
</body>
</html>
  {% endblock %}