{% extends "layout_for.html" %}
{% block title %}REPORTE FOTOGRÁFICO{% endblock %}
{% block content %}
	    <h2>Geleria de imágenes</h2>
	    
	    	{% for lis in lista %}
	    	<img width="200" src="{{url_for('static',filename='img/subidas/freca/')}}{{lis}}"/>
	    	{% endfor %}
	    	<br/>
	    	<a href="{{url_for('upload_frefs')}}">Subir más imagenes</a>
			<br/>
			<a href="{{url_for('resum_frefs')}}">Terminar</a>
	    	<br/>
			<h2>RESUMEN DE LA INSPECCIÓN</h2>
			<p>De acuerdo a los resultados obtenidos y que se adjunta en el reporte, quienes firman, certifican que en la fecha de esta inspección, los accesorios descritos, fueron sometidos a una prueba de Inspección Visual, según ASME Sección V Artículo 9 (2019) y la evaluación de conformidad de los elementos fueron realizados bajo los criterios del estándar  ASME B30.9 (2018) Eslingas,  para la emisión del presente reporte.</p>
			<hr>
			<p>Los abajo firmantes, certificamos que lo expuesto en este registro, es correcto y que el elemento o accesorio fueron preparadas e inspeccionadas, de acuerdo con los requerimientos  del procedimiento aplicado  PR-INSP-006 Inspección visual.  </p>
			<form class="row g-3 needs-validation" >
				<div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
					<h6>FIRMA</h6>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
					<h6>FIRMA</h6>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-6 position-relative">
					<h6>INSPECTOR ENII SA NDT NIVEL II VT Y PT</h6>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-6  position-relative">
					<h6>GERENTE TÉCNICO ENII SA NDT NIVEL II VT Y PT</h6>
				</div>
			</form>


{% endblock %}
