{% extends "layout_for.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {%block title%}REPORTE DE INSPECCIÓN POLEAS{%endblock%}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>

<body>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="background: #b9c4d6;">REPORTE NÚMERO:</div>
      <div class="col" style="background: #b9c4d6;">{{ num_rep.0 }}</div>
    </div>








    
 </div>


</body>
<footer>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <a href="/edit_frpol/{{contact}}" class="btn btn-secondary">MODIFICAR</a>
    </div>
    <div class="col">
      <a href="{{ url_for('genera_pdf2')}}" class="btn btn-primary">PDF</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</footer>
</html>

{% endblock %}