{% extends "layout_for.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {%block title%}REPORTE DE INSPECCIÓN DE HORQUILLAS{%endblock%}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>



<body>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="background: #b9c4d6;">REPORTE NÚMERO:</div>
      <div class="col" style="background: #b9c4d6;">{{ num_rep.0 }}</div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
      {% for dato in for_emi %}
      <div class="col-6">
        EMPRESA: {{ dato.9 }} <br>
        LUGAR DE INSPECCIÓN: {{ dato.7 }} <br>
        NOMBRE DEL INSPECTOR: {{ dato.8 }}
      </div>
      <div class="col-6">
        FECHA DE INSPECCIÓN: {{ dato.4 }} <br>
        FECHA DE EMISIÓN: {{ dato.5 }} <br>
        FECHA DE EXPIRACIÓN: {{ dato.6 }}
      </div>
      {% endfor  %}
    </div>
<hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
      <div class="col"><center>REFERENCIA NORMATIVA:  ANSI/ITSDF B56.6:2016 Norma de seguridad para carretillas elevadoras todoterreno, ANSI/ITSDF B56.1a:2018 Norma de seguridad para montacargas de baja y alta elevación<br>
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</center></div>
    </div>
<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8"> PARAMETROS DE LA INSPECCIÓN DEL EXAMÉN VISUAL (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >PARAMETROS DE LA INSPECCIÓN MEDIANTE LIQUIDOS PENETRATES (PT)</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DATOS DEL END (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">&nbsp;&nbsp;DATOS DEL END (PT)</h7>
  </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

    <div class="col-6">
      {% for dato in datos1 %}
        PROCEDIMIENTO Nº:  {{ dato.3 }} <br>
        REVISIÓN Nº: {{ dato.4 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.5 }} <br>
        CONDICIÓN SUPERFICIAL: {{ dato.6 }} <br>
        MÉTODO DE INSPECCIÓN: {{ dato.7 }} <br>
        TIPO DE ILUMINACIÓN: {{ dato.8 }} <br>
      {%  endfor %}  
        <center> <h7 style="color:#5e1717">EQUIPAMIENTO PARA LA TECNICA INDIRECTA</h7></center> 
      {% for dato in datos1 %}
        ESPEJOS:  {{ dato.9 }} <br>
        LENTES: {{ dato.10 }} <br>
        OTROS: {{ dato.11 }} <br>
        DETALLE: {{ dato.12 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
        PROCEDIMIENTO Nº: {{ dato.13 }} <br>
        REVISIÓN Nº: {{ dato.14 }} <br>
        TEMPERATURA DE ENSAYO: {{ dato.15 }}
        TIPO DE ILUMINACIÓN: {{ dato.16 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.17 }} <br>
        MATERIAL BASE: {{ dato.18 }} <br>
        TIPO DE SECADO: {{ dato.19 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
      <center> <h7 style="color:#5e1717">1.- PENETRANTE</h7></center>
        TIPO DE PENETRANTE: {{ dato.20 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.21 }} <br>
        TIEMPO DE PENETRACIÓN: {{ dato.22 }}
        <center> <h7 style="color:#5e1717">2.- REMOVEDOR</h7></center>
        MÉTODO DE REMOCIÓN: {{ dato.23 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.24 }} <br>
        TIEMPO DE SECADO DEL REMOVEDOR: {{ dato.25 }}
        <center> <h7 style="color:#5e1717">3.- REVELADOR</h7></center>
        FORMA DE REVELADO: {{ dato.26 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.27 }} <br>
        TIEMPO DE REVELADO: {{ dato.28 }}
      {% endfor  %}
    </div>
</div>

<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DEL EQUIPO AL QUE PERTENECEN LOS ACCESORIOS</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for dato in datos1 %}
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">EQUIPO</h7>  {{ dato.29 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">MODELO</h7>  {{ dato.30 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">IDENTIFICACIÓN</h7>  {{ dato.31 }}
  </div>
  {% endfor %}
</div>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">CRITERIOS DE ACEPTACIÓN Y RECHAZO </h7></center>
  </div>
</div>


<center>
  <h1>ANSI/ITSDF B56.6:2016, ANSI/ITSDF B56.1a:2018 HORQUILLAS</h1>
</center>
<div class="container">
  <div class="row">

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <p>1 Desgaste en asiento mayor al 10% de la medida original se rechaza</p>
          <p>2 Rectitud de la hoja no debe sobrepasar el 0,5% de la longitud de la horquilla</p>
          <p>3 Alineación de horquillas no debe sobrepasar el 3% de la longitud de la horquillas</p>
          <p>4 No debe sobrepasar la abertura de +- 3°</p>
          <p>5 No presenta grietas</p>
          <p>6 Componentes de montaje</p>
          <p>7 Soldaduras</p>
          <p>8 Respaldo</p>
          <p>9 Bloqueos</p>
          <p>10 Estado de talón (asiento de horquillas)</p>
          <p>11 Marcación en horquillas (serie, modelo, capacidad)</p>
      </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <p>A.- Ancho</p>
          <p>B.- Espesor</p>
          <p>C.- Longitud</p>
          <p>D.- Altura</p>
          <p>E.- Ejes</p>
      </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <img src="/static/img/059-1.jpg">
      </div>

  </div>

</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DE LA INSPECCIÓN</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">ESPECIFICACIONES DEL ACCESORIO</h7>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >RESULTADOS DE INSPECCIÓN</h7></center>
  </div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col">
    <table class="table table-bordered">


      <tr>
          <th>HORQUILLAS</th>
          <th>DESGASTE  HORQUILLAS</th>
          <th>DESALINEACIÓN PUNTAS</th>
          <th>VÁSTAGO</th>
          <th>HOJA</th>
          <th>ANGULO</th>
          <th>OBSERVACIONES</th>
          <th>INSPECCIÓN VISUAL(VT)</th>
          <th>LÍQUIDOS PENETRANTES(PT)</th>
          
      </tr>
      {% for dato in datos1 %}
      <tr>
          <td>DERECHA</td>
          <td>{{dato.37}}</td>
          <td>{{dato.52}}</td>
          <td>{{dato.54}}</td>
          <td>{{dato.56}}</td>
          <td>{{dato.58}}</td>
          <td>{{dato.60}}</td>
          <td>{{dato.49}}</td>
          <td>{{dato.50}}</td>
        
      </tr>
      <tr>
        <td>IZQUIERDA</td>
        <td>{{dato.51}}</td>
        <td>{{dato.53}}</td>
        <td>{{dato.55}}</td>
        <td>{{dato.57}}</td>
        <td>{{dato.59}}</td>
        <td>{{dato.61}}</td>
        <td>{{dato.62}}</td>
        <td>{{dato.63}}</td>
      
    </tr>
      {% endfor %}
  </table>
  </div>
</div>


 </div>

</body>
<footer>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <a href="/edit_frpol/{{contact}}" class="btn btn-secondary">MODIFICAR</a>
    </div>
    <div class="col">
      <a href="{{ url_for('genera_pdf2')}}" class="btn btn-primary">PDF</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</footer>
</html>

{% endblock %}