{% extends "layout_for.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {%block title%}REPORTE DE INSPECCIÓN GENERAL DE APAREJOS{%endblock%}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>



<body>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="background: #b9c4d6;">REPORTE NÚMERO:</div>
      <div class="col" style="background: #b9c4d6;">{{ num_rep.0 }}</div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
      {% for dato in for_emi %}
      <div class="col-6">
        EMPRESA: {{ dato.9 }} <br>
        LUGAR DE INSPECCIÓN: {{ dato.7 }} <br>
        NOMBRE DEL INSPECTOR: {{ dato.8 }}
      </div>
      <div class="col-6">
        FECHA DE INSPECCIÓN: {{ dato.4 }} <br>
        FECHA DE EMISIÓN: {{ dato.5 }} <br>
        FECHA DE EXPIRACIÓN: {{ dato.6 }}
      </div>
      {% endfor  %}
    </div>
<hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
      <div class="col"><center>REFERENCIA NORMATIVA:  ASME B30.26 (2015) Aparejos<br>
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</center></div>
    </div>
<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8"> PARAMETROS DE LA INSPECCIÓN DEL EXAMÉN VISUAL (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >PARAMETROS DE LA INSPECCIÓN MEDIANTE LIQUIDOS PENETRATES (PT)</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DATOS DEL END (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">&nbsp;&nbsp;DATOS DEL END (PT)</h7>
  </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

    <div class="col-6">
      {% for dato in datos1 %}
        PROCEDIMIENTO Nº:  {{ dato.3 }} <br>
        REVISIÓN Nº: {{ dato.4 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.5 }} <br>
        CONDICIÓN SUPERFICIAL: {{ dato.6 }} <br>
        MÉTODO DE INSPECCIÓN: {{ dato.7 }} <br>
        TIPO DE ILUMINACIÓN: {{ dato.8 }} <br>
      {%  endfor %}  
        <center> <h7 style="color:#5e1717">EQUIPAMIENTO PARA LA TECNICA INDIRECTA</h7></center> 
      {% for dato in datos1 %}
        ESPEJOS:  {{ dato.9 }} <br>
        LENTES: {{ dato.10 }} <br>
        OTROS: {{ dato.11 }} <br>
        DETALLE: {{ dato.12 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
        ELEMENTO A ENSAYAR: {{ dato.13 }} <br>
        PROCEDIMIENTO Nº: {{ dato.13 }} <br>
        REVISIÓN Nº: {{ dato.14 }} <br>
        TEMPERATURA DE ENSAYO: {{ dato.15 }}
        TIPO DE ILUMINACIÓN: {{ dato.16 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.17 }} <br>
        MATERIAL BASE: {{ dato.18 }} <br>
        TIPO DE SECADO: {{ dato.19 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
      <center> <h7 style="color:#5e1717">1.- PENETRANTE</h7></center>
        TIPO DE PENETRANTE: {{ dato.20 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.21 }} <br>
        TIEMPO DE PENETRACIÓN: {{ dato.22 }}
        <center> <h7 style="color:#5e1717">2.- REMOVEDOR</h7></center>
        MÉTODO DE REMOCIÓN: {{ dato.23 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.24 }} <br>
        TIEMPO DE SECADO DEL REMOVEDOR: {{ dato.25 }}
        <center> <h7 style="color:#5e1717">3.- REVELADOR</h7></center>
        FORMA DE REVELADO: {{ dato.26 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.27 }} <br>
        TIEMPO DE REVELADO: {{ dato.28 }}
      {% endfor  %}
    </div>
</div>

<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DEL EQUIPO AL QUE PERTENECEN LOS ACCESORIOS</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for dato in datos1 %}
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">EQUIPO</h7>  {{ dato.29 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">MODELO</h7>  {{ dato.30 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">IDENTIFICACIÓN</h7>  {{ dato.31 }}
  </div>
  {% endfor %}
</div>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">CRITERIOS DE ACEPTACIÓN Y RECHAZO </h7></center>
  </div>
</div>
{% for dato in datos1 %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col-6">
    1 Identificación faltante o ilegible : {{ dato.32 }} <br>
    2 Daños por calor, salpicaduras, soldadura, golpes : {{ dato.33 }} <br>
    3 Picaduras o corrosión excesivas  : {{ dato.34 }} <br>
    4 Componentes de reemplazo no autorizados: {{ dato.35 }} <br>
    5 Componentes doblados, torcidos, estirados : {{ dato.36 }} <br>
    6 Daños visibles que causen duda : {{ dato.37 }} <br>
    7 Montaje incorrecto u otras condiciones : {{ dato.38 }} <br>
    8 Componentes alargados, agrietados o rotos. : {{ dato.39 }} <br>
    9 Mellas o ranuras excesivas : {{ dato.40 }} <br>
    10 Capacidad de rotar, pivotar : {{ dato.41 }} <br>
    11 Daño excesivo hilos de rosca : {{ dato.42 }} 
</div>
<div class="col-6">
  12 Modificaciones, soldaduras no autorizadas. : {{ dato.43 }} <br>
  13 Reducción + del 10% en cualquier punto cuerpo : {{ dato.44 }} <br> 
  14 Decoloración áreas frágiles o rígidas en cualquier parte : {{ dato.45 }} <br>
  15 Indicaciones de cable dañado : {{ dato.46 }} <br>
  16 Carbonización de cualquier parte de cinta : {{ dato.47 }} <br>
  17 Tuercas sueltas, faltantes, pernos, pasadores de chaveta : {{ dato.48 }} <br>
  18 Capacidad de rotar, pivotar : {{ dato.49 }} <br> 
  19 Costuras rotas o desgastadas en empalmes de carga : {{ dato.50 }} <br>
  20 Nudos en cualquier parte de la cinta : {{ dato.51 }} <br>
  21 Modificaciones, soldaduras no autorizadas. : {{ dato.52 }}
</div>
</div>
{% endfor %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DE LA INSPECCIÓN</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    {% for dato in datos1 %}
      <h7 style="color:#f0e8e8">TIPO ACCESORIO: {{ dato.52 }} </h7>
    {% endfor %}
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">ESPECIFICACIONES DEL ACCESORIO</h7>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >RESULTADOS DE INSPECCIÓN</h7></center>
  </div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col">
    <table class="table table-bordered">
      <tr>
        <th>TIPO DE ACCESORIO </th>
        <th>Nº</th>
        <th>CÓDIGO ENII</th>
        <th>REFERENCIA</th>
        <th>MEDIDAS (mm)</th>
        <th>CAPACIDAD (mm)</th>
        <th>MEDIDA DEL CUERPO (mm)</th>
        <th>INSPECCIÓN VISUAL</th>
        <th>LÍQUIDOS PENETRANTES</th>
      </tr>
      {% for cat in data %}
      <tr>
        <td>{{cat.1}}</td>
        <td>{{loop.index}}</td>
        <td>{{cat.3}}</td>
        <td>{{cat.2}}</td>
        <td>{{cat.4}}</td>
        <td>{{cat.5}}</td>
        <td>{{cat.6}}</td>
        <td>{{cat.7}}</td>
        <td>{{cat.8}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


 </div>

</body>
<footer>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <a href="/edit_frpol/{{contact}}" class="btn btn-secondary">MODIFICAR</a>
    </div>
    <div class="col">
      <a href="{{ url_for('genera_pdf2')}}" class="btn btn-primary">PDF</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</footer>
</html>

{% endblock %}