{% extends "layout_for.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {%block title%}REPORTE DE INSPECCIÓN DE CADENA{%endblock%}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
</head>



<body>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="background: #b9c4d6;">REPORTE NÚMERO:</div>
      <div class="col" style="background: #b9c4d6;">{{ num_rep.0 }}</div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
      {% for dato in for_emi %}
      <div class="col-6">
        EMPRESA: {{ dato.9 }} <br>
        LUGAR DE INSPECCIÓN: {{ dato.7 }} <br>
        NOMBRE DEL INSPECTOR: {{ dato.8 }}
      </div>
      <div class="col-6">
        FECHA DE INSPECCIÓN: {{ dato.4 }} <br>
        FECHA DE EMISIÓN: {{ dato.5 }} <br>
        FECHA DE EXPIRACIÓN: {{ dato.6 }}
      </div>
      {% endfor  %}
    </div>
<hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
      <div class="col"><center>REFERENCIA NORMATIVA:  ASME B30.9 (2018) Eslingas ASME B30.10 (2019) Ganchos <br>
        MANUAL DEL FABRICANTE, REGLAMENTACIÓN DEL SECTOR</center></div>
    </div>
<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8"> PARAMETROS DE LA INSPECCIÓN DEL EXAMÉN VISUAL (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >PARAMETROS DE LA INSPECCIÓN MEDIANTE LIQUIDOS PENETRATES (PT)</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DATOS DEL END (VT)</h7></center>
  </div>
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">&nbsp;&nbsp;DATOS DEL END (PT)</h7>
  </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

    <div class="col-6">
      {% for dato in datos1 %}
        PROCEDIMIENTO Nº:  {{ dato.3 }} <br>
        REVISIÓN Nº: {{ dato.4 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.5 }} <br>
        CONDICIÓN SUPERFICIAL: {{ dato.6 }} <br>
        MÉTODO DE INSPECCIÓN: {{ dato.7 }} <br>
        TIPO DE ILUMINACIÓN: {{ dato.8 }} <br>
      {%  endfor %}  
        <center> <h7 style="color:#5e1717">EQUIPAMIENTO PARA LA TECNICA INDIRECTA</h7></center> 
      {% for dato in datos1 %}
        ESPEJOS:  {{ dato.9 }} <br>
        LENTES: {{ dato.10 }} <br>
        OTROS: {{ dato.11 }} <br>
        DETALLE: {{ dato.12 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
        ELEMENTO A ENSAYAR:  {{ dato.13 }} <br>
        PROCEDIMIENTO Nº: {{ dato.14 }} <br>
        REVISIÓN Nº: {{ dato.15 }} <br>
        TEMPERATURA DE ENSAYO: {{ dato.16 }}
        TIPO DE ILUMINACIÓN: {{ dato.17 }} <br>
        NIVEL DE ILUMINACIÓN: {{ dato.18 }} <br>
        MATERIAL BASE: {{ dato.19 }} <br>
        TIPO DE SECADO: {{ dato.20 }}
      {% endfor  %}
    </div>

    <div class="col-3">
      {% for dato in datos1 %}
      <center> <h7 style="color:#5e1717">1.- PENETRANTE</h7></center>
        TIPO DE PENETRANTE: {{ dato.21 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.22 }} <br>
        TIEMPO DE PENETRACIÓN: {{ dato.23 }}
        <center> <h7 style="color:#5e1717">2.- REMOVEDOR</h7></center>
        MÉTODO DE REMOCIÓN: {{ dato.24 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.25 }} <br>
        TIEMPO DE SECADO DEL REMOVEDOR: {{ dato.26 }}
        <center> <h7 style="color:#5e1717">3.- REVELADOR</h7></center>
        FORMA DE REVELADO: {{ dato.27 }} <br>
        MARCA KIT DE INSPECCIÓN: {{ dato.28 }} <br>
        TIEMPO DE REVELADO: {{ dato.29 }}
      {% endfor  %}
    </div>
</div>

<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DEL EQUIPO AL QUE PERTENECEN LOS ACCESORIOS</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% for dato in datos1 %}
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">EQUIPO</h7>  {{ dato.30 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">MODELO</h7>  {{ dato.31 }}
  </div>
  <div class="col" style="background: #3e5786;">
    <h7 style="color:#ce9a9a">IDENTIFICACIÓN</h7>  {{ dato.32 }}
  </div>
  {% endfor %}
</div>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">CRITERIOS DE ACEPTACIÓN Y RECHAZO </h7></center>
  </div>
</div>

<center>
  <h1>ASME B30.9 (2018) Eslingas</h1>
</center>
<div class="container">
  <div class="row">

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
          <p>1 Identificación faltante o ilegible</p>
          <p>2 Grietas o roturas</p>
          <p>3 Desgaste excesivo, mellas o gubias</p>
          <p>4 Eslabones o accesorios estiradas</p>
          <p>5 Eslabones , doblados, torcidos o deformados</p>
          <p>6 Evidencia de daños por calor</p>
          <p>7 Picaduras excesivas o corrosión</p>
          <p>8 Articulación libremente</p>
          <p>9 Salpicaduras de soldaduras</p>
          <p>10 Estado de ganchos de cadena ASMEB 30.10</p>
          <p>11 Otras condiciones que causen duda, uso continuo</p>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
          <img src="/static/img/045-1.jpg">
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
          <img src="/static/img/045-2.jpg">
      </div>
  </div>
</div>


<center>
  <h1>ASME B30.10 (2019) Ganchos</h1>
</center>
<div class="container">
  <div class="row">

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">

          <p>12 Identificación del fabricante faltante o ilegible</p>
          <p>13 Identificación de carga nominal faltante o ilegible</p>
          <p>14 Picaduras excesivas o corrosión</p>
          <p>15 Grietas, mellas o hendiduras</p>
          <p>16 Cualquier desgaste mas a 10% de gancho, pasador</p>
          <p>17 Deformación, dobladuras en plano del gancho</p>
          <p>18 Apertura de garganta que no exceda 5% (6mm)</p>
          <p>19 Incapacidad de bloqueo</p>
          <p>20 Cualquier daño pestillo o defectuoso inoperativo (S/A)</p>
          <p>21 Unión de gancho, fijación dañado, faltantes</p>
          <p>22 Desgaste de la rosca, daño o corrosión</p>
          <p>23 Exposición calor excesivo, soldado. no autorizadas</p>
          <p>24 Evidencia de alteraciones, perforación, rectificado, etc.</p>
      </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">

          <p>A.- Horquilla interna</p>
          <p>B.- Garganta</p>
          <p>C.- Pin </p>
          <p>D.- Útil</p>
          <p>E.- Asiento</p>
      </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
          <img src="/static/img/045-3.jpg">
      </div>

  </div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8">DESCRIPCIÓN DE LA INSPECCIÓN</h7></center>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col" style="background: #20252e;">
    <h7 style="color:#f0e8e8">ESPECIFICACIONES DEL ACCESORIO</h7>
  </div>
  <div class="col" style="background: #20252e;">
    <center> <h7 style="color:#f0e8e8" >RESULTADOS DE INSPECCIÓN</h7></center>
  </div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
  <div class="col">
    <table class="table table-bordered">
      <tr>
          <th>Nº</th>
          <th>CÓDIGO ENII</th>
          <th>REFERENCIA</th>
          <th>MEDIDAS (mm)</th>
          <th>CAPACIDAD (Kg)</th>
          <th>ESLABÓN (diámetro)(mm)</th>
          <th>GANCHO 1(E-B) mm</th>
          <th>GANCHO 2(E-B) mm</th>
          <th>INSPECCIÓN VISUAL(VT)</th>
          <th>LÍQUIDOS PENETRANTES(PT)</th>
      </tr>
      {% for cat in data %}
      <tr>
          <td>{{loop.index}}</td>
          <td>{{cat.3}}</td>
          <td>{{cat.2}}</td>
          <td>{{cat.5}}</td>
          <td>{{cat.6}}</td>
          <td>{{cat.4}}</td>
          <td>{{cat.7}}</td>
          <td>{{cat.8}}</td>
          <td>{{cat.9}}</td>
          <td>{{cat.10}}</td>
          
      </tr>
      {% endfor %}
  </table>
  </div>
</div>


 </div>

</body>
<footer>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <a href="/edit_frpol/{{contact}}" class="btn btn-secondary">MODIFICAR</a>
    </div>
    <div class="col">
      <a href="{{ url_for('genera_pdf2')}}" class="btn btn-primary">PDF</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</footer>
</html>

{% endblock %}